@import 'tailwindcss';

@font-face {
  font-family: reg;
  src: url("./assets/fonts/reg.woff2");
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #91ff008e;
  mix-blend-mode: difference;
}

/* SCROLLBAR */

body::-webkit-scrollbar {
  width: 0.4vw;
  display: block;
  cursor: pointer;
}

body::-webkit-scrollbar-track {
  border-radius: 10px;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb {
  background: linear-gradient(130deg, #121212, white);
  border-radius: 1vw;
  cursor: pointer;
}

body::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(-330deg, #121212, white);
  cursor: pointer;
}

body {
  background-color: black;
  color: white;
  font-family: reg;
  overflow-x: hidden;
}